<div class="row">
    <div class="col-sm-12 col-lg-4 col-md-6">
        {{ field('payment_id', item.paymentId, "ID PayPal") }}
    </div>
    <div class="col-sm-12 col-lg-4 col-md-6">
        {{ field('user_id', item.userId, "Compte client") }}
    </div>
    <div class="col-sm-12 col-lg-4 col-md-6">
        {{ field('state', item.state, "Etat") }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-4 col-md-6">
        {{ field('payer_id', item.payerId, "ID Acheteur") }}
    </div>
    <div class="col-sm-12 col-lg-4 col-md-6">
        {{ field('payer_email', item.payerEmail, "Email Acheteur") }}
    </div>
    <div class="col-sm-12 col-lg-4 col-md-6">
        {{ field('payer_country', item.payerCountry, "Pays de l'acheteur") }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-4 col-md-6">
        {{ field('total', item.total, "Total") }}
    </div>
    <div class="col-sm-12 col-lg-4 col-md-6">
        {{ field('subtotal', item.subtotal, "Sous total") }}
    </div>
    <div class="col-sm-12 col-lg-4 col-md-6">
        {{ field('tax', item.tax, "Taxe") }}
    </div>
</div>